// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
  --color-blue: #c0e5fe;
  --color-blue-light: #9cf0ff;
  --color-cyan: #81fbf2;
  --color-green: #8effcd;
  --color-green-light: #bcff9d;
  --color-yellow: #f9f871;
  --card-border-radius: 24px;
  --font-title: "Manjari", sans-serif;
  --font-text: "Raleway", sans-serif;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 0;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 448px);
  gap: 32px;
}

.main-logo {
  display: flex;
  align-items: center;
  &__icon {
    background-color: #00a1f2;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
  }
  &__text {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: bold;
  }
}

.grid-card {
  background-color: gray;
  border-radius: var(--card-border-radius);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-text);
  &__image {
    max-width: 100%;
    height: 230px;
    border-radius: var(--card-border-radius);
    margin: auto 0;
  }
  &__title {
    font-family: var(--font-title);
    font-weight: bold;
  }
  &__description {
    font-size: 16px;
    margin: 0;
    a {
      margin-left: 8px;
    }
  }
  &__price {
    margin-top: 8px;
    font-size: 32px;
    font-weight: bold;
    i {
      margin-right: 4px;
    }
  }

  &--main {
    grid-column: span 2;
    background-color: var(--color-blue);
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    .grid-card {
      &__main {
        display: flex;
        align-items: center;
      }
      &__content {
        width: 60%;
      }
      &__illustration {
        width: 40%;
        padding: 16px;
        img {
          width: 100%;
        }
      }
      &__header {
        margin: 24px 0 18px;
      }
      &__description {
        font-size: 18px;
      }
      &__footer {
        margin-top: 18px;
      }
    }
  }
  &--blue-light {
    background-color: var(--color-blue-light);
  }
  &--cyan {
    background-color: var(--color-cyan);
  }
  &--green {
    background-color: var(--color-green);
  }
  &--green-light {
    background-color: var(--color-green-light);
  }
  &--yellow {
    background-color: var(--color-yellow);
  }
}

.button {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 32px;
  display: inline-block;
  &__icon {
    margin-right: 8px;
  }
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:active,
  &:focus {
    outline: none;
  }
  &--whatsapp {
    background-color: #00c6af;
    color: #fafafa;
    &:hover {
      color: #fafafa;
      background-color: #268578;
    }
    &:active {
      background-color: #344b47;
    }
  }
}
