<h1>Editing Product</h1>

<div class="card p-3 mb-3">
  <%= render 'form', product: @product %>
</div>

<footer>
  <%= link_to 'Show', @product, class: 'btn btn-info' %>
  <%= link_to 'Back', products_path, class: 'btn btn-link' %>
</footer>